<a href="https://colab.research.google.com/github/vssood/WU_DL/blob/master/WU_DL_A3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
file_path = "https://data.heatonresearch.com/data/t81-558/datasets/series-31.csv"

There should be one row for each unique date in the data set.

Think of the value as a stock price. You only have values during certain hours and certain days.

The date column is each of the different dates in the file.

The starting column is the first value of that date (has the earliest time).

The max column is the maximum value for that day.

The min column is the minimum value for that day.

The ending column is the final value for that day (has the latest time).

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv(file_path)

In [ ]:
df.head()

               time      value
0  08-22-2019 12:51  19.195359
1  09-19-2019 09:44  13.519543
2  08-26-2019 14:05   9.191413
3  08-19-2019 16:37  18.346598
4  09-05-2019 09:18   1.349778

In [ ]:
df.describe()

In [ ]:
df['time'] = pd.to_datetime(df['time'], errors='coerce' )

In [ ]:
df['date'] = df['time'].dt.date

In [ ]:
df

                     time      value        date
0     2019-08-22 12:51:00  19.195359  2019-08-22
1     2019-09-19 09:44:00  13.519543  2019-09-19
2     2019-08-26 14:05:00   9.191413  2019-08-26
3     2019-08-19 16:37:00  18.346598  2019-08-19
4     2019-09-05 09:18:00   1.349778  2019-09-05
...                   ...        ...         ...
13495 2019-09-09 12:50:00  19.046697  2019-09-09
13496 2019-09-09 10:00:00  17.984843  2019-09-09
13497 2019-09-18 14:16:00  15.827774  2019-09-18
13498 2019-09-19 16:16:00  13.070049  2019-09-19
13499 2019-09-06 10:13:00   0.594764  2019-09-06

[13500 rows x 3 columns]

In [ ]:
df.set_index('time', inplace=True)

In [ ]:
df.sort_index(ascending=True, inplace= True)

In [ ]:
df.groupby(['date'])['value'].agg(['first', 'max', 'min', 'last'])

                first        max        min       last
date
2019-08-19  17.573522  18.468835  17.573522  18.468835
2019-08-20  19.496609  19.848830  19.496609  19.848830
2019-08-21  20.033917  20.033917  19.920997  19.920997
2019-08-22  19.393700  19.393700  18.893590  18.893590
2019-08-23  17.784213  17.784213  16.974865  16.974865
2019-08-26   9.717627   9.717627   8.814028   8.814028
2019-08-27   7.630234   7.630234   7.175677   7.175677
2019-08-28   6.940731   7.091136   6.940731   7.091136
2019-08-29   7.677676   8.150454   7.677676   8.150454
2019-08-30   8.989132   9.441207   8.989132   9.441207
2019-09-02   8.562631   8.562631   7.862781   7.862781
2019-09-03   6.466720   6.466720   5.518901   5.518901
2019-09-04   3.806679   3.806679   2.796339   2.796339
2019-09-05   1.372897   1.372897   0.803337   0.803337
2019-09-06   0.566174   0.975155   0.566174   0.975155
2019-09-09  17.609837  20.964092  17.609837  20.964092
2019-09-10  26.269719  29.067541  26.269719  29.067541
2019-09-11  32.779998  34.399895  32.779998  34.399895
2019-09-12  36.168036  36.697054  36.168036  36.697054
2019-09-13  36.763634  36.763634  36.347701  36.347701
2019-09-16  26.346598  26.346598  24.406477  24.406477
2019-09-17  21.203472  21.203472  19.385784  19.385784
2019-09-18  16.659006  16.659006  15.288665  15.288665
2019-09-19  13.581243  13.581243  12.983163  12.983163
2019-09-20  12.838227  13.337320  12.838227  13.337320