<a href="https://colab.research.google.com/github/vssood/WU_DL/blob/master/WU_DL_A1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment

For this assignment, you will use the reg-33-data.csv dataset. 

For this assignment, load and modify the data set.

Modify the dataset as follows:

Add a column named ratio that is max divided by number. Leave max and number in the dataframe.

Replace the cat2 column with dummy variables. e.g. 'cat2_CA-0', 'cat2_CA-1',
 'cat2_CA-10', 'cat2_CA-11', 'cat2_CA-12', ...


Replace the item column with dummy variables, e.g. 'item_IT-0', 'item_IT-1',
 'item_IT-10', 'item_IT-11', 'item_IT-12', ...

For field length replace missing values with the median of length.

For field height replace missing with median and convert to zscore.

Remove all other columns.

Your submitted dataframe will have these columns: 'height', 'max', 'number', 'length', 'ratio', 'cat2_CA-0', 'cat2_CA-1',

In [95]:
file_path = "http://data.heatonresearch.com/data/t81-558/datasets/reg-33-data.csv"

In [96]:
import pandas as pd
import numpy as np
from scipy.stats import zscore

In [97]:
df = pd.read_csv(file_path)

In [98]:
df.head()

   id convention   height    max  ...   item  weight country         target
0   1      CO-1A  4284.51  44907  ...  IT-17   13722    CO-1   44098.106769
1   2       CO-C   806.88  48831  ...  IT-1E   33779    CO-0   95567.294044
2   3      CO-19  2859.80  40760  ...  IT-14   26633   CO-23   48583.507153
3   4      CO-2B  5823.87  33597  ...   IT-8   14537   CO-11  130572.202064
4   5       CO-5      NaN  29848  ...   IT-5   21135   CO-1E   85768.812850

[5 rows x 15 columns]

In [99]:
df.describe()

                 id       height  ...        weight         target
count  10809.000000  8971.000000  ...  10809.000000   10809.000000
mean    5405.000000  3467.581587  ...  27952.073272   89338.872653
std     3120.433864  1972.456969  ...  15798.122063   37692.449571
min        1.000000    60.070000  ...    564.000000  -50194.241772
25%     2703.000000  1757.095000  ...  14368.000000   63668.960703
50%     5405.000000  3482.600000  ...  27989.000000   89186.892747
75%     8107.000000  5156.765000  ...  41680.000000  115138.736504
max    10809.000000  6889.630000  ...  55308.000000  239516.024243

[8 rows x 8 columns]

In [100]:
df['ratio'] = df['max'] / df['number']

Dummy variables

In [101]:
df.cat2.unique().tolist()

['CA-E',
 'CA-A',
 'CA-16',
 'CA-9',
 'CA-17',
 'CA-1F',
 'CA-22',
 'CA-18',
 'CA-F',
 'CA-C',
 'CA-1A',
 'CA-21',
 'CA-3',
 'CA-19',
 'CA-13',
 'CA-12',
 'CA-1D',
 'CA-1',
 'CA-24',
 'CA-7',
 'CA-1C',
 'CA-25',
 'CA-8',
 'CA-14',
 'CA-1E',
 'CA-23',
 'CA-5',
 'CA-1B',
 'CA-0',
 'CA-15',
 'CA-11',
 'CA-10',
 'CA-26',
 'CA-27',
 'CA-D',
 'CA-20',
 'CA-4',
 'CA-B',
 'CA-6',
 'CA-2']

In [102]:
# Replace the cat2 column with dummy variables. e.g. 'cat2_CA-0', 'cat2_CA-1', 'cat2_CA-10', 'cat2_CA-11', 'cat2_CA-12', ..
cat2_dummies = pd.get_dummies(df.cat2, prefix = 'cat2_')

In [103]:
# Replace the item column with dummy variables, e.g. 'item_IT-0', 'item_IT-1', 'item_IT-10', 'item_IT-11', 'item_IT-12', ...
item_dummies = pd.get_dummies(df.item, prefix='item_')

In [104]:
df = pd.concat([df, cat2_dummies, item_dummies], axis= 1)
df.drop(['item', 'cat2'], axis = 1, inplace= True)

For field length replace missing values with the median of length

In [105]:
df[df.length.isna()].count()

id            163
convention    163
height        143
max           163
number        163
             ...
item__IT-B    163
item__IT-C    163
item__IT-D    163
item__IT-E    163
item__IT-F    163
Length: 85, dtype: int64

In [106]:
medianl = df.length.median()
print(meadianl)

13522.49225

In [107]:
df.length.fillna(medianl, inplace= True)    # Does not work

In [108]:
df[df.length.isna()]

Empty DataFrame
Columns: [id, convention, height, max, number, usage, region, length, code, power, weight, country, target, ratio, cat2__CA-0, cat2__CA-1, cat2__CA-10, cat2__CA-11, cat2__CA-12, cat2__CA-13, cat2__CA-14, cat2__CA-15, cat2__CA-16, cat2__CA-17, cat2__CA-18, cat2__CA-19, cat2__CA-1A, cat2__CA-1B, cat2__CA-1C, cat2__CA-1D, cat2__CA-1E, cat2__CA-1F, cat2__CA-2, cat2__CA-20, cat2__CA-21, cat2__CA-22, cat2__CA-23, cat2__CA-24, cat2__CA-25, cat2__CA-26, cat2__CA-27, cat2__CA-3, cat2__CA-4, cat2__CA-5, cat2__CA-6, cat2__CA-7, cat2__CA-8, cat2__CA-9, cat2__CA-A, cat2__CA-B, cat2__CA-C, cat2__CA-D, cat2__CA-E, cat2__CA-F, item__IT-0, item__IT-1, item__IT-10, item__IT-11, item__IT-12, item__IT-13, item__IT-14, item__IT-15, item__IT-16, item__IT-17, item__IT-18, item__IT-19, item__IT-1A, item__IT-1B, item__IT-1C, item__IT-1D, item__IT-1E, item__IT-2, item__IT-3, item__IT-4, item__IT-5, item__IT-6, item__IT-7, item__IT-8, item__IT-9, item__IT-A, item__IT-B, item__IT-C, item__IT-D, item__IT-E, item__IT-F]
Index: []

[0 rows x 85 columns]

For field height replace missing with median and convert to zscore.

In [109]:
medianh = df.height.median() 
print(medianh)

3482.6

In [110]:
df['height'].fillna(medianh, inplace=True)    # Does not work

In [111]:
medianh, medianl

(3482.6, 13522.49225)

In [112]:
df.fillna( {'height': medianh, 'length' : medianl}, inplace= True )    ## ----> Doesnot work

In [113]:
df['height'] = df.height.fillna( medianh )
df['length'] = df.height.fillna( medianl )

In [114]:
df[df.height.isna()]

Empty DataFrame
Columns: [id, convention, height, max, number, usage, region, length, code, power, weight, country, target, ratio, cat2__CA-0, cat2__CA-1, cat2__CA-10, cat2__CA-11, cat2__CA-12, cat2__CA-13, cat2__CA-14, cat2__CA-15, cat2__CA-16, cat2__CA-17, cat2__CA-18, cat2__CA-19, cat2__CA-1A, cat2__CA-1B, cat2__CA-1C, cat2__CA-1D, cat2__CA-1E, cat2__CA-1F, cat2__CA-2, cat2__CA-20, cat2__CA-21, cat2__CA-22, cat2__CA-23, cat2__CA-24, cat2__CA-25, cat2__CA-26, cat2__CA-27, cat2__CA-3, cat2__CA-4, cat2__CA-5, cat2__CA-6, cat2__CA-7, cat2__CA-8, cat2__CA-9, cat2__CA-A, cat2__CA-B, cat2__CA-C, cat2__CA-D, cat2__CA-E, cat2__CA-F, item__IT-0, item__IT-1, item__IT-10, item__IT-11, item__IT-12, item__IT-13, item__IT-14, item__IT-15, item__IT-16, item__IT-17, item__IT-18, item__IT-19, item__IT-1A, item__IT-1B, item__IT-1C, item__IT-1D, item__IT-1E, item__IT-2, item__IT-3, item__IT-4, item__IT-5, item__IT-6, item__IT-7, item__IT-8, item__IT-9, item__IT-A, item__IT-B, item__IT-C, item__IT-D, item__IT-E, item__IT-F]
Index: []

[0 rows x 85 columns]

In [115]:
df[df.length.isna()]

Empty DataFrame
Columns: [id, convention, height, max, number, usage, region, length, code, power, weight, country, target, ratio, cat2__CA-0, cat2__CA-1, cat2__CA-10, cat2__CA-11, cat2__CA-12, cat2__CA-13, cat2__CA-14, cat2__CA-15, cat2__CA-16, cat2__CA-17, cat2__CA-18, cat2__CA-19, cat2__CA-1A, cat2__CA-1B, cat2__CA-1C, cat2__CA-1D, cat2__CA-1E, cat2__CA-1F, cat2__CA-2, cat2__CA-20, cat2__CA-21, cat2__CA-22, cat2__CA-23, cat2__CA-24, cat2__CA-25, cat2__CA-26, cat2__CA-27, cat2__CA-3, cat2__CA-4, cat2__CA-5, cat2__CA-6, cat2__CA-7, cat2__CA-8, cat2__CA-9, cat2__CA-A, cat2__CA-B, cat2__CA-C, cat2__CA-D, cat2__CA-E, cat2__CA-F, item__IT-0, item__IT-1, item__IT-10, item__IT-11, item__IT-12, item__IT-13, item__IT-14, item__IT-15, item__IT-16, item__IT-17, item__IT-18, item__IT-19, item__IT-1A, item__IT-1B, item__IT-1C, item__IT-1D, item__IT-1E, item__IT-2, item__IT-3, item__IT-4, item__IT-5, item__IT-6, item__IT-7, item__IT-8, item__IT-9, item__IT-A, item__IT-B, item__IT-C, item__IT-D, item__IT-E, item__IT-F]
Index: []

[0 rows x 85 columns]

 Height convert to zscore.

In [116]:
z = zscore(df.height)

In [117]:
df['height'] = zscore(df['height'])

In [118]:
df.columns.values

array(['id', 'convention', 'height', 'max', 'number', 'usage', 'region',
       'length', 'code', 'power', 'weight', 'country', 'target', 'ratio',
       'cat2__CA-0', 'cat2__CA-1', 'cat2__CA-10', 'cat2__CA-11',
       'cat2__CA-12', 'cat2__CA-13', 'cat2__CA-14', 'cat2__CA-15',
       'cat2__CA-16', 'cat2__CA-17', 'cat2__CA-18', 'cat2__CA-19',
       'cat2__CA-1A', 'cat2__CA-1B', 'cat2__CA-1C', 'cat2__CA-1D',
       'cat2__CA-1E', 'cat2__CA-1F', 'cat2__CA-2', 'cat2__CA-20',
       'cat2__CA-21', 'cat2__CA-22', 'cat2__CA-23', 'cat2__CA-24',
       'cat2__CA-25', 'cat2__CA-26', 'cat2__CA-27', 'cat2__CA-3',
       'cat2__CA-4', 'cat2__CA-5', 'cat2__CA-6', 'cat2__CA-7',
       'cat2__CA-8', 'cat2__CA-9', 'cat2__CA-A', 'cat2__CA-B',
       'cat2__CA-C', 'cat2__CA-D', 'cat2__CA-E', 'cat2__CA-F',
       'item__IT-0', 'item__IT-1', 'item__IT-10', 'item__IT-11',
       'item__IT-12', 'item__IT-13', 'item__IT-14', 'item__IT-15',
       'item__IT-16', 'item__IT-17', 'item__IT-18', 'item__IT-19',
       'item__IT-1A', 'item__IT-1B', 'item__IT-1C', 'item__IT-1D',
       'item__IT-1E', 'item__IT-2', 'item__IT-3', 'item__IT-4',
       'item__IT-5', 'item__IT-6', 'item__IT-7', 'item__IT-8',
       'item__IT-9', 'item__IT-A', 'item__IT-B', 'item__IT-C',
       'item__IT-D', 'item__IT-E', 'item__IT-F'], dtype=object)

Remove all other columns.

Your submitted dataframe will have these columns: 'height', 'max', 'number', 'length', 'ratio', 'cat2_CA-0', 'cat2_CA-1',

In [121]:
df.drop( ['id', 'convention', 'usage', 'region', 'code', 'power', 'weight', 'country', 'target'], axis=1, inplace= True)

In [122]:
df.head()

     height    max  number  ...  item__IT-D  item__IT-E  item__IT-F
0  0.453222  44907   16669  ...           0           0           0
1 -1.482176  48831    8652  ...           0           0           0
2 -0.339669  40760   23103  ...           0           0           0
3  1.309919  33597   17680  ...           0           0           0
4  0.006937  29848   24136  ...           0           0           0

[5 rows x 76 columns]